body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: rgb(2, 58, 90);
}

#desafios{
    background-color: rgb(2, 58, 90);
}

#contacto{
    background-color: rgb(2, 58, 90);
}